@import 'tailwindcss';
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body {
  background-color: #080c14;
  min-height: 100vh;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
